body {
    font-family: 'Arial', sans-serif;
    background-color: #002028;
    color: #002028;
    display: grid; 
    place-items: center; 
    height: 100vh; 
    margin: 0; 
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    background-color: #002028;
    margin: 0 auto; 
    padding: 20px; }

.nav {
    display: flex;
    justify-content: space-around; /* จัดให้ปุ่มอยู่กลาง */
    margin-bottom: 20px;
}

button {
    background-color: #6e1313;
    color: #f4b3b3;
    font-family: "Forum", serif;
    font-size: medium;
    margin-top: 1px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px 60px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #440000;
}

.page {
    padding: 20px;
    background: #f4b3b3;
    border-radius: 8px;
    box-shadow: 0 2px 5px white;
    margin-bottom: 20px;
}

h1 {
    padding-bottom: 0px;
    font-family: "Forum", serif;
    font-weight: 1200;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px; }

table {
    width: 100%;
    border-collapse: collapse; }

th, td {
    padding: 10px;
    border: 1px solid #002028;
    text-align: left;
}

th {
    background-color: #6e1313;
    color: white;
}

.hidden {
    display: none;
}

#page-number {
    margin: 10px 0;
    font-weight: bold;
}
